{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<script>
    var checkbox = document.querySelectorAll('.term-check');
    var btn = document.getElementById('btn');

    window.onload = function() {
        document.getElementById('submit').onclick = function() {
            if (checkbox[0].checked && checkbox[1].checked && checkbox[2].checked && checkbox[3].checked && checkbox[4].checked){

            }else{
                alert('필수 동의내용을 확인해 주세요.')
                return false;
            }
        };
    };
</script>
{% endblock head %}

{% block contents %}

{% if object.user.dt_created %}
    <p>제출일자 : {{ object.dt_created }}</p>
{% endif %}

<button class="button" id="btn">모두는 항목 동의</button>

<form method="post" id="term-form">{% csrf_token %}
    <p>term_agreement : {{ form.term_agreement |add_class:'term-check' }}</p>
    <p>private_agreement : {{ form.private_agreement |add_class:'term-check'}}</p>
    <p>geoLocation_agreement : {{ form.geoLocation_agreement |add_class:'term-check'}}</p>
    <p>provide_third_parties_agreement : {{ form.provide_third_parties_agreement |add_class:'term-check'}}</p>
    <p>marketing_agreement : {{ form.marketing_agreement |add_class:'term-check'}}</p>
    <p>email_marketing_agreement : {{ form.email_marketing_agreement |add_class:'term-check'}}</p>
    <p>sms_agreement : {{ form.sms_agreement |add_class:'term-check'}}</p>

    <button class="button" id="submit">제출하기</button>
</form>

<script>
    var checkbox = document.querySelectorAll('.term-check');
    var btn = document.getElementById('btn');

    btn.addEventListener('click', function(){
        for (var item of checkbox){
            item.checked = true;

        }
    })

</script>
{% endblock contents %}
