{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<script>
    var checkbox = document.querySelectorAll('.term-check');
    var btn = document.getElementById('btn');

    window.onload = function() {
        document.getElementById('submit').onclick = function() {
            if (checkbox[0].checked && checkbox[1].checked && checkbox[2].checked && checkbox[3].checked && checkbox[4].checked){

            }else{
                alert('필수 동의내용을 확인해 주세요.')
                return false;
            }
        };
    };
</script>
<style>
    .box-centered{
        display: flex;
        align-items: center;
        flex-direction: row; /* default: row */
        justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
    }
</style>
{% endblock head %}

{% block contents %}

<div class="section">
     <div class="column box-centered">
         <button class="button" id="btn">모두는 항목 동의</button>
     </div>

    <div class="column box-centered">
        <form  method="post" id="term-form">{% csrf_token %}
            <table class="table is-fullwidth" style="max-width: 500px; min-width: 350px; bord">
                <tr>
                    <td> [필수] <a href="#">서비스 이용 약관</a></td>
                    <td>{{ form.term_agreement |add_class:'term-check' }}</td>
                </tr>
                <tr>
                    <td>[필수] <a href="#">개인정보수집 및 동의</a></td>
                    <td>{{ form.private_agreement |add_class:'term-check'}}</td>
                </tr>
                <tr>
                    <td>[필수] <a href="#">위치정보 이용약관</a></td>
                    <td>{{ form.geoLocation_agreement |add_class:'term-check'}}</td>
                </tr>
                <tr>
                    <td>[필수] <a href="#">제3자정보제공동의</a>  </td>
                    <td>{{ form.provide_third_parties_agreement |add_class:'term-check'}}</td>
                </tr>
                <tr>
                    <td>[선택] <a href="#">마케팅메시지수신동의</a></td>
                    <td>{{ form.marketing_agreement |add_class:'term-check'}}</td>
                </tr>
                <tr>
                    <td><span>이메일 </span>{{ form.email_marketing_agreement |add_class:'term-check'}}  | <span>SMS </span>{{ form.sms_agreement |add_class:'term-check'}}</td>
                    <td></td>
                </tr>
            </table>
            <div class="column box-centered">
                {% if object.user.dt_created %}
                    <p>제출일자 : {{ object.dt_created }}</p>
                {% endif %}
            </div>
            <div class="column box-centered">
                <button class="button " id="submit">제출하기</button>
            </div>

        </form>
    </div>
</div>


<script>
    var checkbox = document.querySelectorAll('.term-check');
    var btn = document.getElementById('btn');

    btn.addEventListener('click', function(){
        for (var item of checkbox){
            item.checked = true;

        }
    })

</script>
{% endblock contents %}
