{% load static %}
{% load widget_tweaks %}

<html lang="ko">
<head>
    <script>
        window.onload = function() {
            var childDetail = document.querySelectorAll('.child-detail')

            if (childDetail.length !=0){
                for (var i=0; i<childDetail.length; i++){
                    childDetail[i].style.display = 'none'
                }
                childDetail[0].style.display = 'inline'
            }
        };
    </script>
    <title>메인화면</title>

</head>

<body>
<div>
    <a href="{% url 'agreement_update' user.id %}">동의항목 확인</a>
    <a href="{% url 'router' user.router %}">이용시간 설정</a>
</div>
<p>{{ user.username }}</p>
<a href="{% url 'game' %}">이동</a>
<a href="accounts/logout/">로그아웃</a>
{% if user.parent %}
    <p>teacher</p>
{% else %}
    <p>student</p>
{% endif %}

{% if user.parent %}
    {% comment %}prarent{% endcomment %}
    {% if children.count < 1 %}
        <div><p>등록된 학생이 없습니다.</p></div>
    {% else %}
        {% for datum in children %}
            <div><a href="#" onclick="choose({{ forloop.counter0 }})" class="child-list">{{ datum }}</a></div>
        {% endfor %}
    {% endif %}
    <div><a href="{% url 'add_parents' %}">학부모 등록</a></div>

    <h3>세부항목</h3>

    {% if children.count < 1 %}
        <div><p>등록된 학생이 없습니다.</p></div>
    {% else %}
        {% for datum in children %}
        <div class="child-detail">
            <p>{{ datum.username }}</p>
            <p>{{ datum.get_time }} </p>
            <p><a href="{% url 'additional' datum.id%}">수정</a></p>
        </div>
    {% endfor %}
    {% endif %}

    <h3>학습기록</h3>

{% else %}
    {% comment %}children{% endcomment %}
    <p>이용 가능 시간</p>
    <span>{{ user.get_time }} / {{ router.max_time }}</span>
    <div><a href="{% url 'game' %}">사용시간 늘리기</a></div>
    <div>
        <div>
            {{ user.name }}
        </div>
        <div>
            <span>오늘 wifi이용한 시간</span>
            <span>획득한 시간</span>
            <span>성취도</span>
        </div>
    </div>
    <div>
        <div>
            <p>공부한 내용</p>
        </div>
        <div>
            <p>list</p>
        </div>
    </div>
{% endif %}

    {% comment %}javascript{% endcomment %}
    <script>
        function choose(number){
            var childDetail = document.querySelectorAll('.child-detail')
            if (childDetail.length !=0){
                for (var i=0; i<childDetail.length; i++){
                    childDetail[i].style.display = 'none'
                }
                childDetail[number].style.display = 'inline'
            }
        }
    </script>

</body>

</html>

