{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
<script>
    window.onload = function() {
        var childDetail = document.querySelectorAll('.child-detail')

        if (childDetail.length !=0){
            for (var i=0; i<childDetail.length; i++){
                childDetail[i].style.display = 'none'
            }
            childDetail[0].style.display = 'inline'
        }
    };
</script>
<style>
    .box-centered{
        display: flex;
        align-items: center;
        flex-direction: row; /* default: row */
        justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
    }
</style>
<title>메인화면</title>
{% endblock %}


{% block contents %}


{% if user.parent %}
    {% comment %}prarent{% endcomment %}
<div class="section">


    <div class="column">
        <div class="column">
            <div class="column" style="text-align: center;">
                <p class="text is-center">안녕하세요! {{ user.name }}님</p>
                <p class="text is-center">학부모 설정 화면입니다.</p>
            </div>
        </div>
        <div class="column">
            <div class="column" style="text-align: center;">
                <a class='button' href="{% url 'router' user.router %}">이용시간 설정</a>
            </div>
        </div>
        <div class="columns">
            <div class="column " style="text-align: center;">
                <a class="button" href="{% url 'add_parents' %}">학부모 등록</a>
            </div>

        </div>
    </div>


    <div class="column" style="text-align: center;">
        <a class="button"  href="{% url 'game' %}">학습 체험</a>
{#        <a class="button is-small" href="{% url 'agreement_update' user.id %}">동의항목 확인</a>#}

    </div>
    <br>
    <div class="columns is-mobile" style="overflow-x: scroll" >
        {% if children.count < 1 %}
            <div class="column" >
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            "등록된 학생이 없습니다."
                        </p>
                        {% comment %}
                        <p class="subtitle">
                          Jeff Atwood
                        </p>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        {% else %}
            {% for datum in children %}
                <div class="column">
                    <div class="column" style="margin: 5px; max-width: 500px; min-width: 300px">
                        <div class="card" style="margin: 5px;">
                            <div class="card-content">
                                <p class="title">
                                  {{ datum }}
                                </p>
                                <p class="subtitle">
                                    {{ datum.name }}
                                </p>
                            <ul>
                                <li>{{ datum.name }}</li>
                                <li>{{ datum.get_time }}</li>
                                <li>{{ datum.dt_updated }}</li>
                            </ul>
                            </div>
                            <footer class="card-footer">
                            <p class="card-footer-item">
                              <span>
                                정보 <a href="{% url 'additional' datum.id%}">수정</a>
                              </span>
                            </p>
                            <p class="card-footer-item">
                              <span>
                                <a href="{% url 'report' user.id %}">자세히 보기</a>
                              </span>
                            </p>
                            </footer>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% else %}
    {% comment %}children{% endcomment %}
<div class="section">


    <div class="column">
        <p class="subtitle has-text-centered">이용 가능 시간</p>
        <div style="text-align: center">
            <span class="title has-text-centered">{{ user.get_time }} / {{ router.max_time }}  </span><span class="text">분</span>
        </div>
    </div>
    <br>
    <div class="column" style="text-align: center">
        <a class="button" href="{% url 'game' %}">사용시간 늘리기</a>
    </div>
    <div class="column" style="text-align: center">
        <a class="button" href="#">인터넷 사용하기</a>
    </div>

    <div class="column">
        <div class="column box-centered" >
            <div class="column" style="margin: 5px; max-width: 500px; min-width: 300px">
                <div class="card" style="margin: 5px; border-radius: 10px">
                    <div style="background-color:#00aaa7; border-top-left-radius: 10px; border-top-right-radius: 10px">
                        <div class="column">
                            <p class="has-text-centered has-text-white is-medium is-bold">
                                {{ user.name }}
                            </p>
                        </div>
                    </div>
                    <div class="card-content">

                        <div class="columns">
                            <div class="column is-desktop">
                                <span><strong>오늘 wifi이용한 시간</strong></span>
                            </div>
                            <div class="column is-desktop">
                                <span>00시간</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-desktop">
                                <span><strong>성취도</strong></span>
                            </div>
                            <div class="column is-desktop">
                                <span>00시간</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-desktop">
                                <span><strong>획득한 시간</strong></span>
                            </div>
                            <div class="column is-desktop">
                                <span>00시간</span>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        정보 <a href="{% url 'additional' user.id %}">수정</a>
                      </span>
                    </p>
                    <p class="card-footer-item">
                      <span>
                        <a href="{% url 'report' user.id%}">자세히 보기</a>
                      </span>
                    </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
    {% comment %}javascript{% endcomment %}
    <script>
        function choose(number){
            var childDetail = document.querySelectorAll('.child-detail')
            if (childDetail.length !=0){
                for (var i=0; i<childDetail.length; i++){
                    childDetail[i].style.display = 'none'
                }
                childDetail[number].style.display = 'inline'
            }
        }
    </script>



{% endblock %}