{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}
<a class="button" href="{% url 'report' report.user.id %}">돌아가기</a>
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      학습 세부 내용
    </p>
    <p class="subtitle">
      {{ report.user.name }}
    </p>
  </div>
</section>
<br>
<saction>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">테스트 레벨</p>
                <p class="subtitle">{{ report.level }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">테스트 점수</p>
                <p class="subtitle">{{ report.score }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">제출일</p>
            <p class="subtitle">{{ report.dt_created|date:"Y-m-d"}}</p>
            </div>
        </div>
    </nav>
</saction>

    <br>
<section>
    <div class="column">
        <p>문제 : {{ report.korean1 }}</p>
        <p>정답 : {{ report.sentence1 }}</p>
        {% if report.answer1  != 't r ue' %}
            <p>오답 : {{ report.answer1 }}</p>
        {% endif %}
        <p>{{ report.voca1 }}</p>
    </div>

    <div class="column">
        <p>문제 : {{ report.korean2 }}</p>
        <p>정답 : {{ report.sentence2 }}</p>
        {% if report.answer2  != 't r ue' %}
            <p>오답 : {{ report.answer2 }}</p>
        {% endif %}
        <p>{{ report.voca2 }}</p>
    </div>

    <div class="column">
        <p>문제 : {{ report.korean3 }}</p>
        <p>정답 : {{ report.sentence3 }}</p>
        {% if report.answer3  != 't r ue' %}
            <p>오답 : {{ report.answer3 }}</p>
        {% endif %}
        <p>{{ report.voca3 }}</p>
    </div>

    <div class="column">
        <p>문제 : {{ report.korean4 }}</p>
        <p>정답 : {{ report.sentence4 }}</p>

       {% if report.answer4  != 't r ue' %}
            <p>오답 : {{ report.answer4 }}</p>
        {% endif %}
        <p>{{ report.voca4 }}</p>
    </div>

    <div class="column">
        <p>문제 : {{ report.korean5 }}</p>
        <p>정답 : {{ report.sentence5 }}</p>

        {% if report.answer5  != 't r ue' %}
            <p>오답 : {{ report.answer5 }}</p>
        {% endif %}
        <p>{{ report.voca5 }}</p>
    </div>

</section>






{% endblock contents %}