

{% extends "base.html" %}
{% load widget_tweaks %}
{% block head %}
  <style>
    .login-box-style{
        margin-top:3em;
        margin-bottom: 1em;
        height: 380px;
    }

    .submit-button{
        margin-top: 3em;
    }
  </style>
{% endblock %}

{% block title %}비밀번호 재설정 | Coplate{% endblock title %}


{% block contents %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <div class="box login-box-style">
            <h4 class="title has-text-black">설정 완료 </h4>
            <hr class="login-hr">
            <p class="is-text is-medium">비밀번호가 재설정되었습니다.</p>
            <br>
            <a class="button submit-button" href="{% url 'account_login' %}">로그인</a>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock contents %}