{% extends "base.html" %}
{% load widget_tweaks %}

{% block head %}
  <style>
    .login-box-style{
        margin-top:3em;
        margin-bottom: 1em;
        height: 350px;
    }
    form{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .submit-button{
        margin-top: 2em;
    }
  </style>
{% endblock %}
{% block title %}비밀번호 찾기 | Coplate{% endblock title %}

{% block contents %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <div class="box login-box-style">
            <h4 class="title has-text-black">비밀번호 찾기</h4>
            <hr class="login-hr">
            <p class="">아이디와 비밀번호를 정확히 입력해 주세요</p>
              <form method="post">{% csrf_token %}
                <div>
                  {{ form.email|add_class:"input" | attr:"placeholder:가입시 등록한 이메일을 입력해 주세요" | add_error_class:"error" }}
                    {% for error in form.email.errors %}
                      <div class="form-error error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <button class="submit-button button" type="submit">이메일 보내기</button>
              </form>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock contents %}
