{% extends "base.html" %}
{% load widget_tweaks %}
{% block head %}
  <style>
    .login-box-style{
        margin-top:3em;
        margin-bottom: 1em;
        height: 380px;
    }

    .submit-button{
        margin-top: 3em;
    }
  </style>
{% endblock %}

{% block title %}비밀번호 재설정 | Coplate{% endblock title %}


{% block contents %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <div class="box login-box-style">
            <h4 class="title has-text-black">비밀번호 재설정 </h4>
            <hr class="login-hr">
            <p class="is-text is-medium">비밀번호를 재설정하세요.</p>
            <br>
            <form method="post">
              {% csrf_token %}
              <div>
                  {{ form.password1|add_class:"input" | attr:"placeholder:새 비밀번호" | add_error_class:"error" }}
                    {% for error in form.password1.errors %}
                      <div class="form-error error-message">{{ error }}</div>
                    {% endfor %}
              </div>
              <br>
              <div>
                  {{ form.password2|add_class:"input" | attr:"placeholder:비밀번호 확인" | add_error_class:"error" }}
                    {% for error in form.password2.errors %}
                      <div class="form-error error-message">{{ error }}</div>
                    {% endfor %}
              </div>
              <button class="button submit-button is-fullwidth" type="submit">완료</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock contents %}